.row {
  height: 50px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap !important;
}
.row label {
  font-size: 18px;
  color: #666666;
  font-style: oblique;
}
.row input {
  width: fit-content;
}

.cart-container .questions {
  margin-bottom: 10px;
}
.cart-container .questions span {
  font-size: 18px;
  color: #0671b7;
  font-family: cursive;
  font-style: italic;
  font-weight: 600;
}
